node_modules
dist
.env
.env.local
.DS_Store
server/public
vite.config.ts.*
.local/
*.tar.gz
Scrape_Property_Details/
FYP1-MidReport-S25-044-D-SarmayaGhar.pdf
FYP1-Poster-S25-044-D-SarmayaGhar.pdf
Property_Price_Prediction_2.ipynb
scraping_bs.py